

#ve343 .span1 {
  font-size: 10pt;
}
#ve343 .span3 {
  font-size: 10pt;
}
#ve24283 .GraphDataStyleDefault {
  marker-color: #FCDD7C;
  text-color: #FCDD7C;
  line-color: #FCDD7C;
}
#ve343 .span2 {
  color: #ffffff;
}
#ve5222 .ReportElementContainer {
  padding: 5px;
}
#cd794 .If {
  color: #DD5757;
}
#ve1472 .ReportElementContainer {
  padding: 5px;
}
#ve343 .span4 {
  color: #ffffff;
}
#cd5160 .If {
  color: #15B57B;
}
#ve3306 .ReportElementContainer {
  padding: 5px;
}
#ve343 .paragraph2 {
  text-align: right;
}
#ve5188 .styleForTitle_paragraph7 {
  text-align: center;
}
#ve343 .paragraph1 {
  text-align: right;
}
#ve452 .ReportElementContainer {
  padding: 0px;
}
#ve246 .styleForTitle_paragraph5 {
  text-align: center;
}
#ve1478 .paragraph1 {
  text-align: right;
}
#ve332 .ReportElementContainer {
  padding: 5px;
}
#ve1478 .paragraph2 {
  text-align: right;
}
#ve185 .styleForTitle_paragraph15 {
  text-align: center;
}
#ve398 .styleForTitle_span13 {
  font-weight: bold;
}
#ve185 .ReportElementContainer {
  padding: 10px;
}
#ve208 .GraphSkin {
  data-skin: CRISP;
}
#ve12705 .ReportElementContainer {
  padding: 3px;
}
#ve5168 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve5222 .styleForTitle_span15 {
  font-weight: bold;
}
#ve494 .styleForTitle_span5 {
  font-weight: bold;
}
#ve6242 .ReportElementContainer {
  padding: 3px;
}
#ve2540 .span9 {
  color: #16a085;
}
#ve332 .Container {
  background-color: #2196F3;
  transparency: 0;
}
#ve5205 .ReportElementContainer {
  padding: 5px;
}
#ve2540 .span4 {
  font-weight: bold;
}
#ve2540 .span3 {
  color: #27ae60;
}
#ve2540 .span2 {
  font-weight: bold;
}
#ve2540 .span1 {
  font-size: 12pt;
}
#ve2540 .span8 {
  font-size: 12pt;
}
#ve2540 .span7 {
  color: #16a085;
}
#ve2540 .span6 {
  font-weight: bold;
}
#ve2540 .span5 {
  font-size: 16pt;
}
#ve12707 .Container {
  background-color: #2196F3;
  transparency: 0;
}
#cd5790 .If {
  color: #DD5757;
}
#ve350 .styleForTitle_span11 {
  font-weight: bold;
}
#ve161 .styleForTitle_span1 {
  font-weight: bold;
}
#ve379 .styleForTitle_paragraph21 {
  text-align: center;
}
#ve2442 .styleForTitle_span20 {
  font-weight: bold;
}
#cd3491 .If {
  color: #DD5757;
  font-weight: bold;
  font-size: 16px;
  font-family: AvenirNext;
}
#ve5222 .styleForTitle_paragraph9 {
  text-align: center;
}
#ve208 .styleForTitle_span4 {
  font-weight: bold;
}
#ve5168 .styleForTitle_span21 {
  font-weight: bold;
}
#ve222 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve2442 .ReportElementContainer {
  padding: 5px;
}
#ve398 .styleForTitle_paragraph20 {
  text-align: center;
}
#ve2638 .styleForTitle_span18 {
  font-weight: bold;
}
#ve3306 .styleForTitle_span6 {
  font-weight: bold;
}
#ve2540 .span10 {
  font-weight: bold;
}
#cd25681 .If {
  color: #FFCC32;
}
#cd5784 .If {
  color: #FCDD7C;
}
#ve12703 .ReportElementContainer {
  padding: 5px;
}
#ve1482 .ReportElementContainer {
  padding: 5px;
}
#ve494 .LegendFill {
  transparency: 1;
}
#ve350 .ReportElementContainer {
  padding: 5px;
}
#ve25660 .styleForTitle_paragraph13 {
  text-align: center;
}
#ve1478 .ReportElementContainer {
  padding: 5px;
}
#ve161 .ReportElementContainer {
  padding: 10px;
}
#ve24283 .styleForTitle_paragraph22 {
  text-align: center;
}
#ve2442 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve3306 .styleForTitle_paragraph6 {
  text-align: center;
}
#ve379 .styleForTitle_span12 {
  font-weight: bold;
}
#ve379 .Table {
  border-style: solid;
}
#ve1472 .span4 {
  color: #ffffff;
}
#cd25683 .If {
  color: #15B57B;
}
#cd5782 .If {
  color: #16976D;
}
#ve494 .Pie {
  ring-size: 0.37;
}
#ve246 .ReportElementContainer {
  padding: 5px;
}
#ve1472 .span1 {
  font-weight: bold;
}
#ve1472 .span2 {
  font-size: 14pt;
}
#ve1472 .span3 {
  color: #ffffff;
}
#cd3489 .If {
  font-weight: bold;
  font-size: 16px;
  font-family: AvenirNext;
}
#cd25378 .If {
  color: #DD5757;
}
#ve222 .styleForTitle_span8 {
  font-weight: bold;
}
#ve1478 .span1 {
  font-size: 10pt;
}
#ve161 .GraphSkin {
  data-skin: CRISP;
}
#ve208 .LegendFill {
  transparency: 1;
}
#ve147 .styleForTitle_span2 {
  font-weight: bold;
}
#ve1478 .span4 {
  color: #ffffff;
}
#cd5796 .If {
  color: #16976D;
}
#ve1478 .span3 {
  font-size: 10pt;
}
#ve1478 .span2 {
  color: #ffffff;
}
#ve350 .styleForTitle_paragraph17 {
  text-align: center;
}
#ve2638 .styleForTitle_paragraph11 {
  text-align: center;
}
#ve398 .GraphDataStyle2 {
  marker-color: #7DC3FC;
  text-color: #7DC3FC;
  line-color: #7DC3FC;
}
#ve147 .ReportElementContainer {
  padding: 5px;
}
#ve1902 .span1 {
  font-size: 12pt;
}
#ve2540 .ReportElementContainer {
  padding: 5px;
}
#cd25677 .If {
  color: #FF8224;
}
#ve1902 .span3 {
  font-weight: bold;
}
#ve5149 .Container {
  background-color: #2196F3;
  transparency: 0;
}
#ve1902 .span2 {
  font-weight: bold;
}
#ve5205 .styleForTitle_paragraph8 {
  text-align: center;
}
#ve24283 .styleForTitle_span24 {
  font-weight: bold;
}
#ve494 .styleForTitle_paragraph19 {
  text-align: center;
}
#ve147 .GraphSkin {
  data-skin: CRISP;
}
#ve5168 .ReportElementContainer {
  padding: 5px;
}
#cd5788 .If {
  color: #DD5757;
}
#ve161 .styleForTitle_paragraph12 {
  text-align: center;
}
#cd5806 .If {
  color: #FCDD7C;
}
#ve1482 .Container {
  background-color: #2196F3;
  transparency: 0;
}
#ve1902 .span4 {
  font-weight: bold;
}
#cd5166 .If {
  color: #DD5757;
}
#ve5205 .styleForTitle_span14 {
  font-weight: bold;
}
#cd25675 .If {
  color: #DD5757;
}
#cd5798 .If {
  color: #16976D;
}
#ve802 .ReportElementContainer {
  padding: 5px;
}
#ve147 .styleForTitle_paragraph14 {
  text-align: center;
}
#ve161 .styleForTitle_span16 {
  font-weight: bold;
}
#ve161 .styleForTitle_span19 {
  font-weight: bold;
  font-size: 10.6667px;
}
#ve185 .styleForTitle_span3 {
  font-weight: bold;
}
#cd5786 .If {
  color: #FFAE70;
}
#ve398 .GraphSkin {
  data-skin: CRISP;
}
#cd5804 .If {
  color: #DD5757;
}
#ve2638 .ReportElementContainer {
  padding: 10px;
}
#ve222 .ReportElementContainer {
  padding: 5px;
}
#cd5792 .If {
  color: #FFAE70;
}
#ve802 .styleForTitle_paragraph3 {
  text-align: center;
}
#cd5164 .If {
  color: #FF8224;
}
#ve147 .LegendFill {
  transparency: 1;
}
#ve802 .styleForTitle_span7 {
  font-weight: bold;
}
#cd5794 .If {
  color: #FCDD7C;
}
#ve1445 .ReportElementContainer {
  padding: 5px;
}
#ve5188 .ReportElementContainer {
  padding: 5px;
}
#cd5162 .If {
  color: #FFCC32;
}
#ve25660 .ReportElementContainer {
  padding: 5px;
}
#cd5802 .If {
  color: #FFAE70;
}
#ve1445 .span1 {
  font-weight: bold;
}
#ve5147 .ReportElementContainer {
  padding: 5px;
}
#ve494 .GraphDataStyle3 {
  fill-color: #ACB0FF;
}
#ve208 .styleForTitle_paragraph18 {
  text-align: center;
}
#ve5188 .styleForTitle_span10 {
  font-weight: bold;
}
#ve1445 .span4 {
  color: #ffffff;
}
#ve1902 .ReportElementContainer {
  padding: 5px;
}
#ve1445 .span3 {
  color: #ffffff;
}
#ve1445 .span2 {
  font-size: 14pt;
}
#ve246 .styleForTitle_span9 {
  font-weight: bold;
}
#ve494 .GraphSkin {
  data-skin: CRISP;
}
#ve343 .ReportElementContainer {
  padding: 5px;
}
#ve25660 .styleForTitle_span22 {
  font-weight: bold;
}
#ve24283 .GraphDataStyle1 {
  marker-color: #FCDD7C;
  text-color: #FCDD7C;
  line-color: #FCDD7C;
}

			